<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Bedium</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="common-css/bootstrap.css" rel="stylesheet">

	<link href="common-css/ionicons.css" rel="stylesheet">


	<link href="layout-1/css/styles.css" rel="stylesheet">

	<link href="layout-1/css/responsive.css" rel="stylesheet">
    <script src="web3.min.js"></script>
</head>
<body >

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="/" class="logo"><strong><span class="text-primary" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: large;">Bedium</span></strong>
				</a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/">Categories</a></li>
				<li><a href="/">Features</a></li>
				<li><a href="/write">Write</a></li>
				<li><a href="/myaccount">My Account</a></li>
			</ul><!-- main-menu -->

			<div class="src-area">
				<form>
					<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
					<input class="src-input" type="text" placeholder="Type of search">
				</form>
			</div>

		</div><!-- conatiner -->
	</header>

	<div class="slider"></div><!-- slider -->

	<section class="blog-area section">
		<div class="container">

			<div class="row" id="posts">

				

			</div><!-- row -->

			<a class="load-more-btn" href="#"><b>LOAD MORE</b></a>

		</div><!-- container -->
	</section> <!--section -->


	<footer>

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a class="logo" href="#"></a>
						<p class="copyright">Bedium 2020. All rights reserved.</p>
						<p class="copyright">Designed by <a href="/" target="_blank">Blockchain</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
						<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li><a href="#">BEAUTY</a></li>
							<li><a href="#">HEALTH</a></li>
							<li><a href="#">MUSIC</a></li>
						</ul>
						<ul>
							<li><a href="#">SPORT</a></li>
							<li><a href="#">DESIGN</a></li>
							<li><a href="#">TRAVEL</a></li>
							<li><a href="#">BLOCKCHAIN</a></li>
							<li><a href="#">TECH</a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/tether.min.js"></script>

	<script src="common-js/bootstrap.js"></script>

	<script src="common-js/scripts.js"></script>
	<script src="web3APP.js"></script>
	
	<script>
	  
	  var totalPost=0;
	  var posts=document.getElementById('posts');
	  var content="";
	  bediumContract.methods.getTotalPost().call({from:userAccount},(err,resu)=>
	  {
		    for(var i=1;i<=resu;i++){
					bediumContract.methods.getPost(i).call({from:userAccount},(err,result)=>{
                    
				    console.log(result[2]);
					var title=result[3];
					var imagehash=result[2];
						bediumContract.methods.getUserDetails(result[1]).call({from:userAccount},(err,user)=>{
							content=`<div class="col-lg-4 col-md-6">
										<div class="card h-100">
											<div class="single-post post-style-1">

												<div class="blog-image"><img src="https://gateway.ipfs.io/ipfs/`+result[3] +`"alt="Blog Image"></div>

												<a class="avatar" href="#"><img src="https://gateway.ipfs.io/ipfs/`+user[1] +`"alt="images/icons8-team-355979.jpg"></a>

												<div class="blog-info">

													<h4 class="title"><a href="/viewpost/`+result[0]+`/`+result[2]+`"><b>`+result[4]+`</b></a></h4>

													<ul class="post-footer">
														<li><a href="#likess"><i class="ion-heart"></i>`+httpGetLikes("/getlikecount/"+result[1]).likes+`</a></li>
														<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
														<li><a href="#"><i class="ion-eye"></i>138</a></li>
													</ul>

												</div>
											</div>
										</div>
									</div>`
									posts.innerHTML+=content;
						});	

					});

			}
			
			
		  
	  });

	function httpGetLikes(theUrl){
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
			xmlHttp.send( null );
			return JSON.parse(xmlHttp.responseText);
	}





	</script>
</body>
</html>
